<!DOCTYPE html>
<html>
<head>
    <title>Book</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>

<body>
     <h1 style="color: red; font-size: 50 ;">Library</h1><hr>


     <h3> &nbspBook Form(Bootstrap)</h3>
     <form action="/save-book/" method="post">
        {% csrf_token %}

        {% if book %}
        <div class="form-group">
        &nbsp Book ID: <input type="text" value="{{book.id}}" class="form-control-plaintext" name="id" readonly>
        </div>
        {% endif %}

      <div class="form-group col-md-4">
        &nbsp Book Name : <input type="text" value="{{book.name}}" name = "name" class="form-control" placeholder="Enter Book Name"> 
      </div>
    
      <div class="form-group col-md-4">
        &nbsp Book Author : <input type="text" value="{{book.auther}}" name = "auth" class="form-control" placeholder="Enter Book Author">
      </div>
    
      <div class="form-group col-md-4">
        &nbsp Book Qty : <input type="number" value="{{book.qty}}" name = "qty" class="form-control" placeholder="Enter Book Qty">
      </div>
    
      <div class="form-group col-md-4">
        &nbsp Book Price : <input type="number" value="{{book.price}}"  name = "price" class="form-control" placeholder="Enter Book Price">
      </div>
     
        {% if book.is_published %}
        &nbsp Book Published: <input type="checkbox" name="pub" checked><br>
        {% else %}
        &nbsp Book Published: <input type="checkbox" name="pub"><br><br>
        {% endif %}
    
        <!-- Book Published: &emsp; True:<input type="radio" name="true"> &emsp; || &emsp; False:<input type="radio" name="false">  -->
        <br><br>

    
      &nbsp<button type= "submit" class= "btn btn-success">Submit</button>
    </form>
    <hr>


    <h3>ALL BOOKS</h3>  
    <button type="button" class="btn btn-primary"><a style="color:powderblue;" href="/show-deleted-data/">Show Deleted Data</a></button> ||
    <button type="button" class="btn btn-primary"><a style="color:powderblue;" href="/home/">Home Page</a></button> ||

    <button type="button" class="btn btn-danger"><a style="color:powderblue;" href="/delete-all/">DeleteAll</a></button> ||
    <button type="button" class="btn btn-success"><a style="color:powderblue;" href="/restore-all/">RestoreAll</a></button>


     <table border = "2" style="background-color:black; color: blanchedalmond;">

        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>AUTHER</th>
            <th>QUANTITY</th>
            <th>PRICE</th>
            <th>IS_PUBLISHED</th>
            <th>Actions</th>
        </thead>

        <tbody>
            {% for b in books %}
                <tr>
                    <td>{{b.id}}</td>
                    <td>{{b.name}}</td>
                    <td>{{b.auther}}</td>
                    <td>{{b.qty}}</td>
                    <td>{{b.price}}</td>
                    <td>{{b.is_published}}</td>

                    <td>
                        {% ifequal b.is_deleted "Y" %}                      -->
                        <button type="button" class="btn btn-danger btn-sm"><a style="color:powderblue;" href="/h-delete-book/{{b.id}}/">HardDelete</a></button> ||
                        <button type="button" class="btn btn-primary btn-sm"><a style="color:powderblue;" href="/restore/{{b.id}}/">Restore</a></button>
                        {% endifequal %}

                        {% ifequal b.is_deleted "N" %}
                        <button type="button" class="btn btn-warning btn-sm"><a  style="color:powderblue;" href="/delete-book/{{b.id}}/">SoftDelete</a></button> ||
                        <button type="button" class="btn btn-primary btn btn-sm-sm"><a style="color:powderblue;" href="/edit-book/{{b.id}}/">Edit</a></button>
                        {% endifequal  %}
                        
                        
                    </td>
                </tr>
            {% endfor %}

        </tbody>

     </table>
     
</body>

</html>